<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamo Fitness Gym</title>

    <link rel="icon" href="/static/kisspng-logo-physical-fitness-fitness-centre-gym-5ac8cacc6a0366.8946320415231085564342-removebg-preview.png">
    style
       include ../static/style.css

</head>
<body>
    <nav id="nav">
        <ul id="navbar">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Facilities</a></li>
            <li><a href="" id="cnt">Contact Us</a></li>
            <span id="logo"></span>
        </ul>

        
    </nav>

        <div class="space"></div>
        <div class="cont1">
            <h2>Best Opportunity to get into the Gym</h2>
            <h3>Membership only in ₹6000</h3>
        </div>
        <div class="space"></div>
        
        <div class="container">

            <fieldset id="field1">
                <legend id="leg1">Please enter your details in this Form</legend>
                
                <form action="/" method="post" id="form1" style="opacity: 0.85;">
                    <input  type="text" name="Name" placeholder="Please enter your Name" id="inp1" class="inp">
                    <input type="number" name="Age" placeholder="Please enter your Age" id="inp2" class="inp">
                    <input type="text" name="Gender" placeholder="Male/Female" id="inp3" class="inp">
                    <input type="text" name="Contact" placeholder="Please enter your Contact number" id="inp4" class="inp">
                    <textarea name="Address" id="inp5" cols="30" rows="10" placeholder="Please enter your Address" ></textarea>
                    <textarea name="More" id="inp6" cols="30" rows="10" placeholder="Please tell us more about you.." ></textarea>
                <button type="submit" class="btn">Submit</button>
                </form>

            </fieldset>
            
        </div>
</body>
</html>